<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ZJUBTV 面试考核系统</title>
    <!-- Bootstrap core CSS -->
    <css href="__PUBLIC__/css/bootstrap.min.css" />
    <!-- Custom CSS-->
    <css href="__PUBLIC__/css/administration.css" />

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">面试考核系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{$logout_url}">登出</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="http://v3.bootcss.com/examples/dashboard/#">概况 <span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#USER">用户管理</a></li>
                    <li><a href="#STATUS">状态管理</a></li>
                    <li><a href="#TIME">考核时间管理</a></li>
                    <li><a href="#ROOM">考核地点管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#INTERVIEWEE">考核人员管理</a></li>
                    <li><a href="#GROUP">分组清单</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">实时状态</a></li>
                    <li><a href="">日志清单</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1># 0</h1>
                <h2 class="sub-header">全局不可逆控制</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="resetRemoteDatabase">
                                    <button class="btn btn-m btn-danger">重置远程数据库</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="dropInterviewee">
                                    <button class="btn btn-m btn-danger">丢弃本地已检录数据</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="dropWaitingList">
                                    <button class="btn btn-m btn-danger">丢弃本地等候队列</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="resetRoom">
                                    <button class="btn btn-m btn-danger">重置本地考点状态</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="dropGroup">
                                    <button class="btn btn-m btn-danger">丢弃本地分组信息</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="dropRTC">
                                    <button class="btn btn-m btn-danger">丢弃全部考核数据</button>
                                </form>
                            </th>
                        </thead>
                        <tbody>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="dropRoom">
                                    <button class="btn btn-m btn-danger">丢弃本地考点信息</button>
                                </form>
                            </th>
                            <th>
                                <form action="{$dangerctl_url}" method="post">
                                    <input type="hidden" name="request" value="confirmGrades">
                                    <button class="btn btn-m btn-success">确认全部面试成绩</button>
                                </form>
                            </th>
                        </tbody>
                    </table>
                </div>


                <a name="USER"></a>
                <h1># 1</h1>
                <h2 class="sub-header">用户管理</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>邮件地址</th>
                                <th>所属部门</th>
                                <th>权限</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="fetchUser" id="u">
                                <tr>
                                    <th>{$u.uid}</th>
                                    <th>{$u.username}</th>
                                    <th>{$u.password}</th>
                                    <th>{$u.email}</th>
                                    <th>
                                        <?php
                                        switch($u['sector']){
                                            case 1:
                                                echo '电视台';
                                                break;
                                            case 2:
                                                echo '广播台';
                                                break;
                                            }
                                        ?>
                                    </th>
                                    <th>
                                        <?php
                            switch($u['authority']){
                                case 16:
                                    echo '管理员';
                                    break;
                                case 1:
                                    echo '检录员';
                                    break;
                                case 3:
                                    echo '引导员';
                                    break;
                                case 4:
                                    echo '辅面试官';
                                    break;
                                case 8:
                                    echo '主面试官';
                                    break;
                            }
                          ?>
                                    </th>
                                    <th>
                                        <form action="{$management_url}" method="post">
                                            <input type="hidden" name="request" value="delete">
                                            <input type="hidden" name="target" value="USER">
                                            <input type="hidden" name="uid" value="{$u.uid}">
                                            <button class="btn btn-xs btn-danger btn-block" type="submit">DEL</button>
                                        </form>
                                    </th>
                                </tr>
                            </volist>
                            <tr>
                                <form action="{$management_url}" method="post">
                                    <input type="hidden" name="request" value="insert">
                                    <input type="hidden" name="target" value="USER">
                                    <th></th>
                                    <th>
                                        <input type="text" name="username" class="form-control" required="">
                                    </th>
                                    <th>
                                        <input type="password" name="password" class="form-control" required="">
                                    </th>
                                    <th>
                                        <input type="email" name="email" class="form-control" required="">
                                    </th>
                                    <th>
                                        <select name="sector" class="form-control" required="">
                                            <option value=1 selected="selected">电视台</option>
                                            <option value=2>广播台</option>
                                        </select>                                    
                                    </th>
                                    <th>
                                        <select name="authority" class="form-control" required="">
                                            <option value=1 selected="">检录员</option>
                                            <option value=3>引导员</option>
                                            <option value=4>辅面试官</option>
                                            <option value=8>主面试官</option>
                                            <option value=16>管理员</option>
                                        </select>
                                    </th>
                                    <th>
                                        <button class="btn btn-sm btn-success btn-block" type="submit">ADD</button>
                                    </th>
                                </form>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <a name="STATUS"></a>
                <h1># 2</h1>
                <h2 class="sub-header">状态管理</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>当前状态</th>
                                <th>操作</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{$fetchRound}</th>
                                <th>
                                    <form action="{$management_url}" method="post">
                                        <input type="hidden" name="request" value="update">
                                        <input type="hidden" name="target" value="STATUS">
                                        <input type="hidden" name="value" value="1">
                                        <button class="btn btn-xs btn-success btn-block" type="submit">等待</button>
                                    </form>
                                </th>
                                <th>
                                    <form action="{$management_url}" method="post">
                                        <input type="hidden" name="request" value="update">
                                        <input type="hidden" name="target" value="STATUS">
                                        <input type="hidden" name="value" value="2">
                                        <button class="btn btn-xs btn-warning btn-block" type="submit">一面</button>
                                    </form>
                                </th>
                                <th>
                                    <form action="{$management_url}" method="post">
                                        <input type="hidden" name="request" value="update">
                                        <input type="hidden" name="target" value="STATUS">
                                        <input type="hidden" name="value" value="6">
                                        <button class="btn btn-xs btn-warning btn-block" type="submit">二面</button>
                                    </form>
                                </th>
                                <th>
                                    <form action="{$management_url}" method="post">
                                        <input type="hidden" name="request" value="update">
                                        <input type="hidden" name="target" value="STATUS">
                                        <input type="hidden" name="value" value="14">
                                        <button class="btn btn-xs btn-danger btn-block" type="submit">结束</button>
                                    </form>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <a name="ROOM"></a>
                <h1># 3</h1>
                <h2 class="sub-header">考核地点管理</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>考点</th>
                                <th>组别</th>
                                <th>主面</th>
                                <th>辅一</th>
                                <th>辅二</th>
                                <th>辅三</th>
                                <th>辅四</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="fetchRoom" id="r">
                                <tr>
                                    <th>{$r.rid}</th>
                                    <th>{$r.roomnumber}</th>
                                    <th>{$r.gid}</th>
                                    <th>{$r.suid_core}</th>
                                    <th>{$r.suid1}</th>
                                    <th>{$r.suid2}</th>
                                    <th>{$r.suid3}</th>
                                    <th>{$r.suid4}</th>
                                    <th>
                                        <form action="{$management_url}" method="post">
                                            <input type="hidden" name="request" value="delete">
                                            <input type="hidden" name="target" value="ROOM">
                                            <input type="hidden" name="rid" value="{$r.rid}">
                                            <button class="btn btn-xs btn-danger btn-block" type="submit">DEL</button>
                                        </form>
                                    </th>
                                </tr>
                            </volist>

                            <form action="{$management_url}" method="post">
                                <input type="hidden" name="request" value="insert">
                                <input type="hidden" name="target" value="ROOM">
                                <tr>
                                    <th></th>
                                    <th>
                                        <input type="text" name="roomnumber" class="form-control" required="">
                                    </th>
                                    <th>
                                        <button class="btn btn-block disabled="" ">自动分配</button>
                                    </th>
                                    <th>
                                        <input type="text" name="suid_core" class="form-control" required="">
                                    </th>
                                    <th>
                                        <input type="text" name="suid1" class="form-control" >
                                    </th>
                                    <th>
                                        <input type="text" name="suid2" class="form-control" >
                                    </th>
                                    <th>
                                        <input type="text" name="suid3" class="form-control" >
                                    </th>
                                    <th>
                                        <input type="text" name="suid4" class="form-control" >
                                    </th>
                                    <th>
                                        <button class="btn btn-sm btn-success btn-block" type="submit">ADD</button>
                                    </th>
                                </tr>
                            </form>

                        </tbody>
                    </table>
                </div>

                <a name="GROUP"></a>
                <h1># 4</h1>
                <h2 class="sub-header">分组清单</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>环节</th>
                                <th>开放</th>
                                <th>M1</th>
                                <th>M2</th>
                                <th>M3</th>
                                <th>M4</th>
                                <th>M5</th>
                                <th>M6</th>
                                <th>M7</th>
                                <th>M8</th>
                                <th>M9</th>
                                <th>MA</th>
                                <th>MB</th>
                                <th>MC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="fetchGroup" id="g">
                                <tr>
                                    <th>{$g.gid}</th>
                                    <th>{$g.round}</th>
                                    <th>{$g.member_count}</th>
                                    <th>
                                        <?php echo substr($g['member1_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member2_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member3_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member4_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member5_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member6_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member7_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member8_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member9_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member10_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member11_sn'], 36, 4); ?>
                                    </th>
                                    <th>
                                        <?php echo substr($g['member12_sn'], 36, 4); ?>
                                    </th>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
    <js href="__PUBLIC__/js/jquery-1.11.3.min.js" />
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <js href="__PUBLIC__/js/bootstrap.min.js" />

</body>

</html>
