<!DOCTYPE html>
<html lang="zh-CN">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ZJUBTV 面试考核系统</title>
        <!-- Bootstrap core CSS -->
        <css href="__PUBLIC__/css/bootstrap.min.css" />
        <!-- Custom CSS-->
        <css href="__PUBLIC__/css/list.css" />

    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">面试考核系统</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
          <div class="table-responsive">
              <h2>电视台成绩队列</h2>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>学号</th>
                      <th>姓名</th>
                      <th>性别</th>
                      <th>主面</th>
                      <th>辅1</th>
                      <th>辅2</th>
                      <th>辅3</th>
                      <th>辅4</th>
                      <th>辅5</th>
                      <th>辅6</th>
                      <th>辅7</th>
                      <th>辅8</th>
                      <th>辅9</th>
                      <th>辅10</th>
                      <th>辅11</th>
                      <th>均分</th>
                      <th>备注</th>
                      <th>操作</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                      <volist name="fetchT_rate" id="r">
                        <tr>
                            <th>{$r.studentid}</th>
                            <th>{$T_mapToEnroll[$r['serialnumber']]['studentname']}</th>
                            <th>
                                <?php
                                    switch ($T_mapToEnroll[$r['serialnumber']]['gender']){
                                        case 0:
                                            echo '女';
                                            break;
                                        case 1:
                                            echo '男';
                                            break;
                                    }
                                ?>
                            </th>
                              <?php
                                $cnt = 0;
                                $sumrate = 0;
                                for($i = 0; $i < 12; $i++) {
                                  echo '<th>';
                                  if($r['t_rate_'. $i] == -1) {
                                    echo '无';
                                  }
                                  else{
                                    $rate = $r['t_rate_'. $i]; 
                                    $sumrate += $rate;
                                    $cnt++;
                                    echo $rate;
                                  }
                                  echo '</th>';
                                }

                                if ($cnt)
                                  $averate = $sumrate / $cnt;
                                else
                                  $averate = 0;
                                echo '<th>'. $averate. '</th>';
                              ?>
                            <th>
                                <?php
                                    foreach($T_mapToCommen[$r['serialnumber']] as $s_comment){
                                        echo '<input class="btn btn-xs btn-info" type="submit" value="' . $s_comment['comment'] . '">';
                                    }
                                ?>
                            </th>
                            <th>
                                <?php
                                    if(($session_auth_check & 8) != 8) {
                                      echo '<button class="btn btn-xs btn-block disabled="" ">无相应权限</button>';
                                      echo '</th><th>';
                                    }                                    
                                    else{
                                        echo '<form action="' . $admission_url . '" method="post">';
                                        echo '<input type="hidden" name="sn" value="' . $r['serialnumber'] . '">';
                                        echo '<input type="hidden" name="request" value="getIn">';
                                        echo '<input type="hidden" name="sector" value=1>';
                                        echo '<button class="btn btn-xs btn-success btn-block" type="submit">该轮面试通过</button>';
                                        echo '</form></th>';
                                        
                                        echo '<th>';
                                        echo '<form action="' . $admission_url . '" method="post">';
                                        echo '<input type="hidden" name="sn" value="' . $r['serialnumber'] . '">';
                                        echo '<input type="hidden" name="request" value="getOut">';
                                        echo '<input type="hidden" name="sector" value=1>';
                                        echo '<button class="btn btn-xs btn-danger btn-block" type="submit">不予录取</button>';
                                        echo '</form>';
                                    }
                                ?>
                            </th>
                        </tr>
                      </volist>
                  </tbody>
                </table>
              <h2>广播台成绩队列</h2>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>学号</th>
                      <th>姓名</th>
                      <th>性别</th>
                      <th>主面</th>
                      <th>辅1</th>
                      <th>辅2</th>
                      <th>辅3</th>
                      <th>辅4</th>
                      <th>辅5</th>
                      <th>辅6</th>
                      <th>辅7</th>
                      <th>辅8</th>
                      <th>辅9</th>
                      <th>辅10</th>
                      <th>辅11</th>
                      <th>均分</th>
                      <th>备注</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                      <volist name="fetchR_rate" id="r">
                        <tr>
                            <th>{$r.studentid}</th>
                            <th>{$R_mapToEnroll[$r['serialnumber']]['studentname']}</th>
                            <th>
                                <?php
                                    switch ($R_mapToEnroll[$r['serialnumber']]['gender']){
                                        case 0:
                                            echo '女';
                                            break;
                                        case 1:
                                            echo '男';
                                            break;
                                    }
                                ?>
                            </th>
                              <?php
                                $cnt = 0;
                                $sumrate = 0;
                                for($i = 0; $i < 12; $i++) {
                                  echo '<th>';
                                  if($r['r_rate_'. $i] == -1) {
                                    echo '无';
                                  }
                                  else {
                                    $rate = $r['r_rate_'. $i]; 
                                    $sumrate += $rate;
                                    $cnt++;
                                    echo $rate;
                                  }
                                  echo '</th>';
                                }

                                if ($cnt)
                                  $averate = $sumrate / $cnt;
                                else
                                  $averate = 0;
                                echo '<th>'.$averate.'</th>';
                              ?>
                            <th>
                                <?php
                                    foreach($R_mapToCommen[$r['serialnumber']] as $s_comment){
                                        echo '<input class="btn btn-xs btn-info" type="submit" value="' . $s_comment['comment'] . '">';
                                    }
                                ?>
                            </th>
                            <th>
                                <?php
                                    if(($session_auth_check & 8) != 8) {
                                      echo '<button class="btn btn-xs btn-block disabled="" ">无相应权限</button>';
                                      echo '</th><th>';
                                    }                                    
                                    else{
                                        echo '<form action="' . $admission_url . '" method="post">';
                                        echo '<input type="hidden" name="sn" value="' . $r['serialnumber'] . '">';
                                        echo '<input type="hidden" name="request" value="getIn">';
                                        echo '<input type="hidden" name="sector" value=2>';
                                        echo '<button class="btn btn-xs btn-success btn-block" type="submit">该轮面试通过</button>';
                                        echo '</form></th>';
                                        
                                        echo '<th>';
                                        echo '<form action="' . $admission_url . '" method="post">';
                                        echo '<input type="hidden" name="sn" value="' . $r['serialnumber'] . '">';
                                        echo '<input type="hidden" name="request" value="getOut">';
                                        echo '<input type="hidden" name="sector" value=2>';
                                        echo '<button class="btn btn-xs btn-danger btn-block" type="submit">不予录取</button>';
                                        echo '</form>';
                                    }
                                ?>
                            </th>
                        </tr>
                      </volist>
                  </tbody>
                </table>

            </div>
        </div>

    </div><!-- /.container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <js href="__PUBLIC__/js/jquery-1.11.3.min.js" />
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <js href="__PUBLIC__/js/bootstrap.min.js" />

    </body>
</html>
