<!DOCTYPE html>
<html lang="zh-CN">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ZJUBTV 面试考核系统</title>
        <!-- Bootstrap core CSS -->
        <css href="__PUBLIC__/css/bootstrap.min.css" />
        <!-- Custom CSS-->
        <css href="__PUBLIC__/css/login.css" />

    </head>
    <body>
        <div class="container">
            <form class="form-signin" action="{$login_url}" method="post">
                <h3 class="form-signin-heading" align="center">面试考核系统</h3>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="登录账户" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="登录密码" required="">
                <label for='checkin' class="sr-only">检录</label>
                <input type="radio" id='checkin' name="authority" value=1 checked="checked">检录
                <label for='guide' class="sr-only">引导</label>
                <input type="radio" id='guide' name="authority" value=3 >引导
                <label for='associate_interviewer' class="sr-only">辅面试官</label>
                <input type="radio" id='associate_interviewer' name="authority" value=4 >辅面试官
                <label for='primary_interviewer' class="sr-only">主面试官</label>
                <input type="radio" id='primary_interviewer' name="authority" value=8 >主面试官
                <label for='administrator' class="sr-only">管理员</label>
                <input type="radio" id='administrator' name="authority" value=16 >管理员
                <br/> <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
            </form>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
        <js href="__PUBLIC__/js/jquery-1.11.3.min.js" />
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <js href="__PUBLIC__/js/bootstrap.min.js" />

    </body>
</html>
